In [1]:
import pandas as pd

# Dataframe e ordenação

**Utilizando o arquivo: carros.csv**

1. Faça o upload do CSV carros.csv
2. Print seu head com 10 linhas
3. Agora print as colunas e index do dataframe
4. Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros
5. Descubra qual a proporção de carro para a população de cada estado e insira em uma nova coluna
6. Faça um dataframe com Estado e proporção de carro por habitante

In [6]:
1 #lendo planilha csv 
df = pd.read_csv("carros.csv")

In [7]:
2 #printando as primeiras 10 linhas da tabela 
df.head(10)

,Região,Estado,Quant Carros,Quant Carros Família com Filhos,População do Estado,Carros por habitante
0,Sul,Acre,4342,1034,23942.0,0.181355
1,Centro-Oeste,Alagoas,18991,3253,23431.0,0.810507
2,Sudeste,Amapá,6463,4152,7747.0,0.834258
3,Centro-Oeste,Amazonas,3180,2955,5189.0,0.612835
4,Centro-Oeste,Bahia,11288,2585,24118.0,0.468032
5,Nordeste,Ceará,10807,4943,40773.0,0.265053
6,Sudeste,Distrito Federal,5786,4459,6899.0,0.838672
7,Sudeste,Espírito Santo,5494,4073,6267.0,0.876655
8,Sudeste,Goiás,24412,2021,36551.0,0.667889
9,Centro-Oeste,Maranhão,8472,4461,16394.0,0.516774

In [10]:
# print as colunas e
df.columns

Index(['Região', 'Estado', 'Quant Carros', 'Quant Carros Família com Filhos',
       'População do Estado', 'Carros por habitante'],
      dtype='object')

In [11]:
# printando index do dataframe
df.index

RangeIndex(start=0, stop=27, step=1)

In [ ]:
#Faça um sort decrescente no dataframe pelo estado com maior quantidade de carros

#primeiro - um sort da coluna qtd de carros

df.sort_values('Quant Carros', ascending=False)

In [ ]:
#Descubra qual a proporção de carro para a população de cada estado e insira em uma nova coluna
#1 passo - dividiando qtde carros por população

proporcao =  df['Quant Carros']/ df['População do Estado']

In [ ]:
#2 passo - transformando o calculo de proporção na coluna de carros por habitantes
df['Carros por habitante'] = proporcao

In [24]:
#Faça um dataframe com Estado e proporção de carro por habitante

#selecionando as duas colunas de 
df_estado_hab = df[['Estado', 'Carros por habitante']]
df_estado_hab

                 Estado  Carros por habitante
0                  Acre              0.181355
1               Alagoas              0.810507
2                 Amapá              0.834258
3              Amazonas              0.612835
4                 Bahia              0.468032
5                 Ceará              0.265053
6      Distrito Federal              0.838672
7        Espírito Santo              0.876655
8                 Goiás              0.667889
9              Maranhão              0.516774
10          Mato Grosso              0.568957
11   Mato Grosso do Sul              0.639258
12         Minas Gerais              0.371004
13                 Pará              0.626385
14              Paraíba              0.546918
15               Paraná              0.225417
16           Pernambuco              0.674026
17                Piauí              0.573666
18       Rio de Janeiro              0.700453
19  Rio Grande do Norte              0.133192
20    Rio Grande do Sul              0.166828
21             Rondônia              0.481511
22              Roraima              0.222340
23       Santa Catarina              0.327577
24            São Paulo              0.829874
25              Sergipe              0.783169
26            Tocantins              0.773681

# Agregação de dados

**Utilizando o arquivos: concurso.csv**

7. Qual a média de idade por estado?
8. Qual é a porcentagem de pessoas com deficiência ?
9. Quantas pessoas são do estado do Piauí?

In [72]:
#chamando o arquivo csv 
df_concurso = pd.read_csv('dados_concurso.csv')

In [73]:
#printando head 
df_concurso.head()

,Número de Inscrição,Data de Nascimento,Data de Inscrição,Cidade,Estado,Sexo,Deficiência,Nome,Sobrenome,Escolaridade
0,f2bf14e6-9ecc-43d1-9098-1a133277d26a,NaN,2022-01-11 16:47:41,da Mota de das Neves,MS,F,Sim,João Miguel,Castro,Ensino Médio
1,afd1d890-dbfd-4d72-a9a2-4309f356167a,1910-02-05,2022-01-30 13:17:53,Teixeira do Norte,SE,NaN,Não,Maria Sophia,Rezende,Ensino Fundamental
2,16451a82-28f8-48bf-a5b6-9f0c5b25ef6b,NaN,2022-01-28 12:28:17,NaN,CE,F,Sim,Giovanna,Freitas,Ensino Superior
3,200731b4-a651-4a2d-9d01-11d4d6a41511,1949-11-21,2022-01-20 02:11:07,Porto,RN,F,Não,João Felipe,Peixoto,Ensino Superior
4,22369508-74a2-403b-8237-1851971a08d6,1963-06-26,2022-01-23 21:48:36,Pires do Oeste,PA,F,Não,Benjamin,Farias,Ensino Médio

In [75]:
#Quantas pessoas são do estado do Piauí?
#selecionando primeiro a tabela, depois selecionando o estado referente a PI e depois selecionando numero de inscrição. Depois fazendo count de tudo isso 
df_concurso[df_concurso['Estado'] == 'PI']['Número de Inscrição'].count()

np.int64(4)

In [ ]:
#Qual a média de idade por estado?
#Selecionando na tabela concurso e arupando por numero de inscição e fazendo um count com o a quantidade por região a partir do estado
df_concurso[['Número de Inscrição', 'Estado']].groupby('Estado').count()

In [86]:

#Selecionando na tabela as colunas  ['Escolaridade', 'Número de Inscrição', 'Estado'] e agrupando por estado e escolaridade e fazendo um count disso tudo
df_concurso[['Escolaridade', 'Número de Inscrição', 'Estado']].groupby(['Estado', 'Escolaridade']).count()

                           Número de Inscrição
Estado Escolaridade
AL     Ensino Fundamental                    1
       Ensino Superior                       1
AM     Ensino Superior                       1
AP     Ensino Fundamental                    3
       Ensino Médio                          2
BA     Ensino Superior                       2
CE     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
DF     Ensino Superior                       2
ES     Ensino Superior                       1
GO     Ensino Fundamental                    2
       Ensino Médio                          2
MA     Ensino Fundamental                    2
MG     Ensino Fundamental                    1
       Ensino Médio                          1
       Ensino Superior                       1
MS     Ensino Médio                          1
       Ensino Superior                       1
MT     Ensino Médio                          1
       Ensino Superior                       1
PA     Ensino Médio                          1
       Ensino Superior                       3
PB     Ensino Fundamental                    1
       Ensino Superior                       1
PE     Ensino Fundamental                    2
       Ensino Médio                          2
PI     Ensino Médio                          1
       Ensino Superior                       3
PR     Ensino Fundamental                    1
RJ     Ensino Fundamental                    1
       Ensino Superior                       1
RN     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       2
RO     Ensino Fundamental                    1
RS     Ensino Médio                          1
SC     Ensino Médio                          1
       Ensino Superior                       1
SE     Ensino Fundamental                    2
       Ensino Médio                          1
       Ensino Superior                       1
SP     Ensino Fundamental                    2
       Ensino Médio                          1
TO     Ensino Fundamental                    1
       Ensino Superior                       1

# Indexação e fatiamento

**Utilizando o arquivos: concurso.csv**

Temos como base inscrições em um concurso público, utilizando indexação retorne:
10. Quantas pessoas são do estado do Piauí?
11. Quantas do ES são so sexo feminino?
12. Quantas pessoas nasceram antes de 1995?

13. Retorne os dados dos incritos com as colunas: nº inscrição, nome e idade.

# Valores faltosos

14. Para os valores faltosos coloque:
- Se string: Falta informação
- Se número: mediana
15. Plote a porcentagem de dados faltosos para cada coluna.